.character-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  text-align: start;
}

.character-card img {
  border-radius: 8px;
  margin-right: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.noStyledLink{
  text-decoration: none;
  color: inherit;
}
