#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.character-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  text-align: justify;
}

.character-card img {
  border-radius: 8px;
  margin-right: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
